:root {
    --main-color: #f35811;
    --text-color: f35811;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 12px;
}


/* sidebar section start */

.side-bar {
    position: fixed;
    height: 100%;
    width: 250px;
    background: rgba(243, 243, 243, 0.959);
    top: 0;
    left: -280px;
    transition: .3s;
    z-index: 3;
}

.side-bar-logo {
    width: 100%;
    height: 5.3%;
    background: var(--main-color);
    z-index: 3;
    top: 0;
    left: 0;
}

.open {
    left: 0;
    transition: .3s;
    z-index: 3;
}

.btn-arrow {
    height: 100%;
    position: absolute;
    text-align: left;
    top: 50%;
    right: 0;
    background-size: cover;
}

.btn-arrow-show {
    left: -250px;
    transition: .3s;
    z-index: 3;
}

.arrow-center {
    position: absolute;
    color: rgba(251, 80, 50, 0.74);
    font-size: 32px;
    left: 50%;
}


/* sidebar section end */

.main-page {
    min-height: 90vh;
    background-image: url('../img/01.jpg');
    background-size: cover;
    position: relative;
}

.main-page .overlay {
    background-color: rgba(240, 253, 255, 0.623);
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}

.main-page .o_tip {
    display: block;
}

.header-section {
    position: relative;
    z-index: 2;
    display: flex;
    background-color: rgba(250, 119, 96, 0.74);
}

.header-section .logo {
    width: 300px;
    padding: 15px;
}

.header-section .links {
    width: 100%;
    list-style: none;
    text-align: right;
}

.header-section .links li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.877);
    padding-left: 0;
    padding-right: 2rem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header-section .links li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.877);
    transition: .3sec;
}

.header-section .links li a:hover,
.header-section .links li a.active {
    color: var(--main-color);
}

.introduction-section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.introduction-section h1 span {
    color: var(--main-color);
}

.introduction-section p {
    line-height: 1.6;
    font-size: 1rem;
    margin: 0;
}


/* about us start */

.container {
    width: 1170px;
    margin: auto;
}

.container img {
    width: 250px;
    height: 250px;
}

.about-us-section {
    display: flex;
    padding: 50px 0 50px 0;
}

.about-us-section .image img {
    flex: 1;
    border-radius: 50%;
}

.about-us-section .info {
    flex: 1;
    padding-right: 130px;
}

.about-us-section .info p {
    flex: 1;
    line-height: 1.9;
    font-size: 18px;
    margin: 0;
}


/* about us end */


/* Gallery start */

.gallery .image-box img {
    width: 285px;
    height: 285px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.877);
}

.image-box {
    background-color: rgba(189, 186, 186, 0.794);
    padding: 10px;
}

.popup-overlay {
    position: fixed;
    background-color: rgba(5, 5, 5, 0.904);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #CCC;
    padding: 10px;
    z-index: 1001;
    border-radius: 15px;
}

.popup-box h3 {
    color: var(--main-color);
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    padding: 4px;
}

.popup-box img {
    max-width: 100%;
}

.close-button {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 1.6;
    color: rgba(12, 12, 12, 0.876);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    top: -50px;
    right: -50px;
    border-radius: 50%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.close-button:hover {
    color: rgba(255, 255, 255, 0.753);
    background-color: var(--main-color);
}

.btn-img-left {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    left: -45%;
    color: rgba(12, 12, 12, 0.876);
    background-color: rgba(255, 255, 255, 0.753);
    text-align: center;
    font-weight: 400;
    font-size: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-img-left:hover {
    color: rgba(255, 255, 255, 0.753);
    background-color: var(--main-color);
}

.btn-img-right:hover {
    color: rgba(255, 255, 255, 0.753);
    background-color: var(--main-color);
}

.btn-img-right {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    right: -45%;
    color: rgba(12, 12, 12, 0.876);
    background-color: rgba(255, 255, 255, 0.753);
    text-align: center;
    font-weight: 400;
    font-size: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}


/* Gallery end */


/* Timeline start */

.timeline {
    padding: 50px 0 50px 0;
    background-color: rgba(255, 255, 255, 0.89);
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -1px;
}

.timeline .timeline-content .timeline-year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 5px;
    text-align: center;
    color: rgba(248, 238, 238, 0.897);
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .left:before {
    right: -35px;
}

.timeline .timeline-content .right {
    float: right;
}

.timeline .timeline-content .right:before {
    left: -35px;
}

.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #FFF;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 20px;
}

.clear-fix {
    clear: both;
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: rgba(250, 200, 200, 0.733);
    border-radius: 10px;
}

.timeline .timeline-content .content h3 {
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
}

.timeline .timeline-content .content p {
    font-weight: 500;
    line-height: 1.6;
    font-size: 18px;
    margin: 0;
}

.timeline .timeline-content .left .content::before {
    content: '';
    border-style: solid;
    border-width: 13px;
    border-color: transparent transparent transparent rgb(250, 200, 200);
    height: 0;
    width: 0;
    position: absolute;
    right: -25px;
    top: 20px;
}

.timeline .timeline-content .right .content::before {
    content: '';
    border-style: solid;
    border-width: 13px;
    border-color: transparent rgb(250, 200, 200) transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: -25px;
    top: 20px;
}


/* Timeline end */